* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.row{
    width: 1140px;
    margin: 0 auto;
}

/* universal css */

h1{
    margin: 0;
}

/* header css */


.hero-text-box{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.hero-text-box span{
    font-weight: 300;
    font-size: 28px;
}

header{

    color: white;

    background-repeat: repeat-x;
    
    background-image: url(img/bg.gif);
    background-size: cover;
    background-position: absolute;
    height: 100vh;
}

.btn{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 15px;
}